@model ML.Libro
@{
    ViewData["Title"] = "Form";
}

<h2>Formulario</h2>

<div class="row">

    <div class="col-md-12">

        @using (Html.BeginForm("Form", "Libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="row">
                <div class="col" style="display:none">
                    @Html.LabelFor(model => model.IdLibro, new { @class = "visually-hidden" })

                    @Html.TextBoxFor(model => model.IdLibro, new { @class = "visually-hidden form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Titulo)

                    @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @id = "txtNombre" })
                </div>
              
                <div class="col-md-3">
                    @Html.LabelFor(model => model.AñoPublicacion)

                    @Html.TextBoxFor(model => model.AñoPublicacion, new { @class = "form-control", @id = "txtNombre" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Autor)
                    @Html.DropDownListFor(model => model.Autor.IdAutor, new SelectList(Model.Autor.Autores, "IdAutor", "NombreCompleto"), "Selecciona una opción", new { @class = "form-control" })

                   
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Editorial)
                    @Html.DropDownListFor(model => model.Editorial.IdEditorial, new SelectList(Model.Editorial.Editoriales, "IdEditorial", "Nombre"), "Selecciona una opción", new { @class = "form-control" })

                </div>
                </div>

                <div class="row">
                      <div class="col-md-6">
                    @Html.LabelFor(model => model.Portada)
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-plus"></i></span>
                        <input id="inpImagen" type='file' class="form-control" name="inpImagen" onchange="validateFile(this), visualizarImagen(this);  " />
                    </div>
                    @if (Model.Portada == null)
                    {
                        <img id="Img" src="/Images/guest-user.png" style="width:250px ; height:250px" />
                    }
                    else
                    {
                        <img id="Img" src="data:image/*;base64,@Model.Portada" style="width:250px ; height:250px" />
                    }
                </div>

                </div>
              
                  <div class="col-md-12">
                    @Html.LabelFor(model => model.Sinopsis)

                    @Html.TextAreaFor(model => model.Sinopsis, new { @class = "form-control", @id = "txtNombre" })
                </div>
            
            <br />
            <br />
            <div class="row">
                <div class="col">
                    <input type="submit" value="Guardar" class="btn btn-success" />

                    @Html.ActionLink("Regresar", "GetAll", "Aseguradora", htmlAttributes: new { @class = "btn btn-danger" })
                </div>

            </div>


        }

    </div>

</div>





    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript">

    function validateFile() {
        var allowedExtension = ['jpeg', 'jpg', 'png'];
        var fileExtension = document.getElementById('inpImagen').value.split('.').pop().toLowerCase();
        var isValidFile = false;
        for (var index in allowedExtension) {
            if (fileExtension === allowedExtension[index]) {
                isValidFile = true;
                break;
            }
        }
        if (!isValidFile) {
            alert('Las extensiones permitidas son : *.' + allowedExtension.join(', *.'));
            document.getElementById('inpImagen').value = ""
        }
        return isValidFile;
    }
    function visualizarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#Img').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    


