@model ML.Libro
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Libros</h2>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione una Libro para editarlo o + para agregar...</h5>
            <hr />
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-12">
        @using (Html.BeginForm("GetAll", "Libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container">
                <div style="float:right;">
                    @Html.ActionLink("Agregar", "Form", "Libro", htmlAttributes: new { @class = "btn btn-success bi bi-person-plus-fill" })
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Titulo)
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-circle-user"></i>
                        </span>
                        
                        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @id = "txtNombre",@placeholder = "Titulo del libro"})

                    
                  

                    </div>
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.AñoPublicacion)
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-circle-user"></i></span>
                        @Html.TextBoxFor(model => model.AñoPublicacion, new { @class = "form-control", @id = "publicacion" })

                        
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Autor)


                    @Html.DropDownListFor(model => model.Autor.IdAutor, new SelectList(Model.Autor.Autores, "IdAutor", "NombreCompleto"), "Selecciona una opción", new { @class = "form-control" })


                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Editorial)


                    @Html.DropDownListFor(model => model.Editorial.IdEditorial, new SelectList(Model.Editorial.Editoriales, "IdEditorial", "Nombre"), "Selecciona una opción", new { @class = "form-control" })

                 

                </div>
            </div>
            <br />
            <div class="container">

                <div class="col">
                    <input type="submit" value="Buscar" class="btn btn-info" />

                </div>
            </div>
        }
    </div>
</div>
<br />

<table class="table   table-hover table-bordered table-responsive">
    <tbody>
        @foreach (ML.Libro libro in Model.Libros)
        {
            
        <td style="display :none;">@libro.IdLibro </td>

        <div class="col row-cols-2 row-cols-md-3 g-4" style="display: inline-block; text-align-center">

            <div class="card card border-dark mb-4 border-2 row" style="width: 22rem;">
                    @if (libro.Portada == null)
                    {
                    <img src="/Images/guest-user.png" width=250px height=250px />

                    }
                    else
                    {
                    <img id="Img" src="data:image/*;base64,@libro.Portada" style="width:250px ; height:250px" />
                    }
                <div class="card-body; card-img-top;" style="width: 300px; height: 700px;">
                    <h5 class="card-title card-header text-center bg-secondary" >@libro.Titulo</h5>
                    <p class="card-text" >@libro.Autor.Nombre @libro.Autor.ApellidoPaterno @libro.Autor.ApellidoMaterno </p>
                    <p class="card-text">@libro.Editorial.Nombre </p>
                    <p class="card-text">@libro.AñoPublicacion</p>

                    <p class="card-text">@libro.Sinopsis</p>

                    <a class="btn btn-warning"
                   href="@Url.Action("Form", "Libro", new {IdLibro=libro.IdLibro})">Actualizar
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete","Libro",new {idLibro=libro.IdLibro})"
                   onclick="return confirm('Estas seguro de que deseas eliminar el Libro? ');">Eliminar</a>
                </div>

            </div>
        </div>

        }

    </tbody>
</table>

